<launch>
    <!-- load parameters -->
    <rosparam command="load" file="$(find xavier)/param/simu_qbot.yaml"/>

    <!-- include the rviz configration -->
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find xavier_robot)/rviz/qbot.rviz" />

    <!-- Start Planner node -->
    <node pkg="xavier_rviz" type="xavier_visualizer_node" name="cloud_visualizer" output="screen" />

    <!-- Start Planner node -->
    <node pkg="xavier_rviz" type="grid_image_creator_node.py" name="grid_visualizer" output="screen" />
</launch>